
<div class="header">
  <h2>Meet Eve</h2>
</div>

<div class="message-container" #messageContainer>
  <div *ngFor="let message of visibleConversationHistory" class=message>
    <p class="message-text" [ngClass]="{'user-message': message.from=='User', 'eve-message': message.from=='Eve'}">{{message.text}}</p>
  </div>
</div>
<div class="typing-message">
  <p>{{eveIsThinking ? eveTypingMessages[typingMessageIndex] : ''}}</p>
</div> 

<input type="text" id="chat-box" placeholder="Say hello" [attr.disabled]="eveIsThinking ? '' : null" #userInput (keyup.enter)="postUserMessage($event.target.value); userInput.value = ''">

<router-outlet></router-outlet>